.footer {
    padding: 0px;
    text-align: center;
    position: fixed;
    color: white;
    font-weight: 400;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #222;
}
p{
    margin-block: 0.7rem;
}