<section class="wrapper">
    <div class="form signup">
        <header>Checkout</header>
        <form #orderData="ngForm">
            <input type="text" name="email" placeholder="Enter User Email" ngModel />
            <input type="text" name="address" placeholder="Enter User Address" ngModel />
            <input type="text" name="contact" placeholder="Enter contact details" ngModel />
          <div class="checkbox">
            <label for="signupCheck">By Sign Up you accept all terms & conditions</label>
          </div>
          <input [disabled]="orderData.invalid" type="submit" value="Checkout" (click)="orderNow(orderData.value)"/>
        </form>
    </div>
</section>
<div class="payment">
    <h3>Total Amount: {{totalPrice}}</h3>
    <h4>Payment Method : <b>Pay on delivery</b></h4>
</div>