<div class="row product-details" *ngIf="productData">
    <div class="col-sm-6">
        <div class="product-image">
            <img class="product-img" src="{{productData.image}}" alt="">
        </div>
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productData.name}}</h1>
            <hr/>
            <div class="product-other-info">
                <h3>&#8377; {{productData.price}} /-</h3>
                <div class="product-color-container">Color :<h3 [style.backgroundColor]="productData.color" class="product-color"></h3>
                </div>
                <h6>Category : {{productData.category}}</h6>
            </div>
            <h6>{{productData.description}}</h6>
            <div class="product-actions">
                <div class="quantity-group">
                    <button (click)="handleQuantity('min')"><i class="fa-solid fa-minus"></i></button>
                    <input type="text" value="{{productQuantity}}" />
                    <button (click)="handleQuantity('plus')"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button class="cart-button" [ngClass]="{'remove-cart': removeCart}" (click)="removeCart ? removeToCart(productData.id) : addToCart()">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    {{removeCart ? 'Remove from Cart' : 'Add to Cart'}}
                </button>
            </div>
        </div>
    </div>
</div>