

<div class="shopping-cart" *ngIf="orderData">
    <div class="column-labels">
        <label class="product-image">Id</label>
        <label class="product-details">Price</label>
        <label class="product-price">Status</label>
        <label class="product-quantity">Cancel</label>
    </div>
    <hr/>
    <div class="product" *ngFor="let order of orderData">
      <div class="product-details">
        <div class="product-title">#{{order.id}}</div>
      </div>
      <div class="product-price">{{order.totalPrice}}</div>
      <div class="product-quantity">In Progress</div>
      <div class="product-removal">
        <button class="remove-product" (click)="cancelOrder(order.id)">
          <i class="fas fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  