<section class="wrapper" [ngClass]="{'active': isLogin}">
  <div class="form signup" (click)="isLogin=false">
      <header>User Signup</header>
      <form #userSignUp="ngForm">
        <input type="text" name="name" placeholder="Enter User Name" ngModel required />
        <input type="text" name="email" placeholder="Enter User Email" ngModel required />
        <input type="password" name="password" placeholder="Enter User Password" ngModel required />
        <div class="checkbox">
          <label for="signupCheck">By Sign Up you accept all terms & conditions</label>
        </div>
        <input [disabled]="userSignUp.invalid" type="submit" value="Signup" (click)="signUp(userSignUp.value)"/>
      </form>
    </div>
    <div class="form login" (click)="isLogin=true">
      <header>User Login</header>
      <p class="error-p">{{authError}}</p>
      <form #userLogin="ngForm" (ngSubmit)="login(userLogin.value)">
        <input type="text" name="email" placeholder="Enter User Email" ngModel email #email="ngModel" required />
        <p class="invalid-input"><span *ngIf="email.invalid && email.touched ">Please enter valid input</span></p>

        <input type="password" name="password" placeholder="Enter User Password" ngModel
              minlength="2" maxlength="20" #password="ngModel" required  />
        <p class="invalid-input"><span *ngIf="password.invalid && password.touched ">Please enter valid password</span></p>
        <a>Forgot password?</a>
        <input [disabled]="userLogin.invalid" type="submit" value="Login" />
      </form>
    </div>
</section>